html {
    scroll-behavior: smooth;
}

body {
    margin: 10px 0 0 10px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    background-color: #ffffff;
    padding: 30px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

button {
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

section {
    padding: 65px;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0px;
}

.button_1 {
    margin-right: 16px;
    display: flex;
}

.button_2 {
    margin-bottom: 32px;
    display: flex;
}


.primary {
    color: #5243c0;
    font-size: 24px;
}

.bg_pink {
    height: 10px;
    width: 32px;
    border-radius: 100px;
    margin-top: 16px;
    border-color: #FED7DA;
    background-color: #FED7DA;
    padding: 5px;
}

.bg_red {
    height: 10px;
    width: 32px;
    border-radius: 100px;
    margin-top: 16px;
    border-color: #FD6534;
    background-color: #FD6534;
    padding: 5px;
}

.bg_green {
    height: 10px;
    width: 32px;
    border-radius: 100px;
    margin-top: 16px;
    border-color: #9ED095;
    background-color: #9ED095;
    padding: 5px;
}

.bg_yellow {
    height: 10px;
    width: 32px;
    border-radius: 100px;
    margin-top: 16px;
    border-color: #FFE4A0;
    background-color: #FFE4A0;
    padding: 5px;
}


#logo {
    height: 48px;
}

#header {
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.nav_item {
    cursor: pointer;
    margin: 20px;
}

.nav_item:hover {
    text-decoration-line: underline;
    text-decoration-color: #5243C0;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}

#account_btn {
    background-color: #FFD8DB;
    color: #5243c0;
    display: flex;
    margin-top: 2px;
}

#main_content {
    width: 32vw;
    margin-right: 80px;
}

.card {
    font-size: 14px;
    padding: 6px;
    border-radius: 15px;
    margin-bottom: 12px;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.card .hover_div {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-image: url(tick-gray.png);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 6px 6px 12px 2px rgba(230, 230, 230, 1);
}

.card:hover>.hover_div {
    background-image: url(tick-blue.png);
}

.card_text {
    white-space: nowrap;
    font-weight: bold;
    width: 40%;
}

.card_date {
    color: #c3c3c3;
}

.card_image {
    height: 40px;
    width: 40px;
}

#account_btn1 {
    background-color: #5243C0;
    color: #ffffff;
}